/* Home Page Recommendations */
ytd-browse {
  display: none !important;
}

/* Video Page Recommendations */
ytd-watch-next-secondary-results-renderer {
  display: none !important;
}

/* Left Hand Side-Bar */
#guide-content {
  display: none !important;
  background: #fff !important;
}
#guide-wrapper {
  background: #fff !important;
}
