/* Home Page Recommendations */
ytd-browse {
  display: flex !important;
}

/* Video Page Recommendations */
ytd-watch-next-secondary-results-renderer {
  display: flex !important;
}

/* Left Hand Side-Bar */
#guide-content {
  display: flex !important;
}
